@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open sans", Sans-Serif;
  webkit-tap-highlight-color: transparent;
}

.bounce {
  animation-name: bounce;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bounce-2 {
  animation-name: bounce;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bounce-3 {
  animation-name: bounce;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bounce-4 {
  animation-name: bounce;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
